body{
  background-color: #303458;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
  background-blend-mode: soft-light,screen;
  text-align: center;
}

h2{
  width: 100%;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  text-align: center;
}

.container{
  display: flex;
  flex-flow: column nowrap;
}

.footer{
  width: 100%;
  position: fixed;
  background: #093028;
  background: -webkit-linear-gradient(to right, #237A57, #093028);
  background: linear-gradient(to right, #237A57, #093028);
  color: rgb(236, 236, 236);
  left: 0;
  bottom: 0;
  opacity: 0.8;
}

.catalogo{
  flex-basis: 80%;
  color: black;
  padding: 10px;
}

.marca{
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product{
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 20%;
  justify-content: space-between;
  margin: 10px 10px;
  padding: 5px;
  box-shadow: 5px 11px 14px 3px rgba(0, 0, 0, 0.700);
  -webkit-box-shadow: 5px 11px 14px 3px rgba(0,0,0,0.700);
  -moz-box-shadow: 5px 11px 14px 3px rgba(0,0,0,0.700);
  background-color: white
}


.footer_product{
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
}

.contact{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 50px;
}

.sale{
  display: flex;
  border: 2px dashed #aa023a;
  justify-content: center;
  padding: 5px;
}

h1{
  margin-top: 0;
  margin-left: 0;
  padding: 10% 0;
  width: 100%;
  height: 30vh;
  background-image: url('../../../sites/default/files/Svg/market.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

span{
  background-color: rgba(169, 169, 169, 0.13);
  border-radius: 25%;
  color: rgb(3, 3, 3);
  font-size: 100px;
  text-shadow: 2px 2px 2px whitesmoke;
}

@media (min-width:100px) and (max-width: 800px){
  h1{
    height: 15vh;
    padding: auto;
  }
  
  span{
    margin-top: 25px;
    font-size: 50px;
  }
}

@media (min-width: 801px){
  span{
    font-size: 100px;
  }
}