body{
  background-color: #DCD9D4;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
  background-blend-mode: soft-light,screen;
  text-align: center;
}

h2{
  width: 100%;
  font-size: 26px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #aa023a;
  text-align: center;
}

.container{
  display: flex;
  flex-flow: column nowrap;
}

.footer{
  width: 100%;
  position: fixed;
  background: #093028;
  background: -webkit-linear-gradient(to right, #237A57, #093028);
  background: linear-gradient(to right, #237A57, #093028);
  color: rgb(236, 236, 236);
  left: 0;
  bottom: 0;
  opacity: 0.8;
}

.catalogo{
  flex-basis: 80%;
  color: black;
  padding: 10px;
}

.marca{
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product{
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 20%;
  justify-content: space-between;
  margin: 10px 10px;
  padding: 5px;
  box-shadow: 5px 11px 14px 3px rgba(0,0,0,0.27);
  -webkit-box-shadow: 5px 11px 14px 3px rgba(0,0,0,0.27);
  -moz-box-shadow: 5px 11px 14px 3px rgba(0,0,0,0.27);
  background-color: white
}


.footer_product{
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
}

.contact{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 50px;
}

.sale{
  display: flex;
  border: 2px dashed #aa023a;
  justify-content: center;
  padding: 5px;
}

h1{
  margin-top: 0;
  text-align: center;
  padding-top: 50px;
  padding-right: 30px;
  height: 200px;
  background-color: #093028;
  color:#5c5a5ace;
  font-size: 128px;
}

.page-title{
  background-image: url('../../../sites/default/files/Svg/shopping-650046_1280.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


@media (max-width: 600px){
  h1{
    font-size: 60px;
  }

  .marca{
    padding: 2px;
  }

  .product{
    padding: 2px;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 5%;
    margin: 2px;
}

@media (min-width: 601px) and (max-width: 1260px) {
  h1{
    font-size: 90px;
  }
}