body{
  background-color: #5f627e;
  text-align: center;
}

h1{
  margin-top: 0;
  margin-left: 0;
  padding: 10% 0;
  width: 100%;
  height: 30vh;
  background-image: url('../../../sites/default/files/Svg/market.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

span{
  background-color: rgba(169, 169, 169, 0.13);
  border-radius: 25%;
  color: rgb(3, 3, 3);
  font-size: 100px;
  text-shadow: 2px 2px 2px whitesmoke;
}


h2{
  width: 100%;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
  text-align: center;
}

.container{
  display: flex;
  flex-flow: column nowrap;
}

.navbar{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.navbar ul{
  list-style: none;
  padding: 3px;
  margin: 10px;
}

.navbar a{
  text-decoration: none;
  margin: 3px;
  padding: 8px;
  color: whitesmoke;
  border: 1px solid #093028;
  border-radius: 10px;
  list-style: none;
}

.navbar a:hover{
  background-color: #237A57;
}

.footer{
  width: 100%;
  position: fixed;
  background: #093028;
  background: -webkit-linear-gradient(to right, #237A57, #093028);
  background: linear-gradient(to right, #237A57, #093028);
  color: rgb(236, 236, 236);
  left: 0;
  bottom: 0;
  opacity: 0.8;
}

.catalogo{
  flex-basis: 80%;
  color: black;
  padding: 10px;
}

.marca{
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product{
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 20%;
  justify-content: space-between;
  margin: 10px 10px;
  padding: 5px;
  box-shadow: 5px 11px 14px 3px rgba(0, 0, 0, 0.700);
  -webkit-box-shadow: 5px 11px 14px 3px rgba(0,0,0,0.700);
  -moz-box-shadow: 5px 11px 14px 3px rgba(0,0,0,0.700);
  background-color: white
}

.footer_product{
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
}

.contact{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 50px;
}

.sale{
  display: flex;
  border: 2px dashed #aa023a;
  justify-content: center;
  padding: 5px;
}

.up{
  position: fixed;
  bottom: 0px;
  right: 0px; 
  padding-bottom: 60px;
  padding-right: 5px;
  z-index: 10;
}

.up a{
  color: black;
}

#menu{
  display: none;
}

@media all and (max-width: 800px){
  h1{
    height: 15vh;
    padding: auto;
  }
  
  span{
    margin-top: 25px;
    font-size: 50px;
  }

  #menu{
    font-size: 16px;
    background-color: transparent !important;
    border: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .navbar {
    display: none;
  }

  .is-active{
    display: flex;
  }

  .navbar ul {
    display: inline-flex;
  }

}

@media (min-width: 801px){
  span{
    font-size: 100px;
  }
}